.carousel-button {
   display: flex;
    align-items: flex-end;
    height: 128vh;
    padding-left: 2.18rem; 
}

.carousel-buttons div{
    width: 1.25rem;
    height:  1.25rem;
    border-radius: 3.12rem;
}

.banner-button-toKnowMore { 
width: 6.31rem !important;
height: 1.62rem !important;
}

.banner-button-toKnowMore:hover {
    background-color: var(--color-gray-1d);
}