.line-margin-60 {
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
}

.contacts-footer {
    margin-bottom: 1.25rem;
}

.contacts-footer p,
.icons-footer p {
    text-align: center;
}

.contacts-footer h3,
.contacts-footer h2,
.icons-footer h3 {
    display: flex;
    justify-content: center;
}

.contacts-footer h3 {
    margin-top: 1.25rem;
}

.contacts-footer p {
    margin-top: 0.37rem;
}

.icons-footer h3 {
    margin-top: 2.5rem;
}

.social-media-icons img {
    margin-top: 1.87rem;
    margin-right: 1.56rem;
}

.icons-consumers {
    margin-top: 4rem;
}

.icons-consumers img:first-child {
    padding-right: 2.75rem;
}

.pl-cookies-text {
    margin-top:2.68rem;
    margin-bottom:3.75rem;
}

@media (min-width:576px) {

    .line-margin-60 {
        margin-top: -1.18rem;
        margin-bottom: 0px;
    }

    .desktop-padding-top {
        padding-top:0.93rem;
    }

    .contacts-footer {
        margin-top: 4.37rem;
    }

    .desktop-contacts {
        padding-right: 1.56rem;
        max-width:14.81rem;

    }


    .contacts-footer p {
        text-align: start !important;
    }

    .icons-footer {
        margin-top: 1.87rem;
    } 
    .icons-consumers {
        margin-top: -3.62rem;
    }
    .pl-cookies-text {
        margin-bottom: 4.37rem;
    }
}

@media (min-width:1200px) {
    .desktop-foot-margin{
        margin-right: 6.87rem;
        margin-left: 6.87rem;   
    } 

    .icons-consumers {
        margin-left: 4.87rem;
    }

    .pl-cookies-text {
        margin-left: 6.37rem;
    }
}

