header {
    height: 47.5rem;
}

.white-box-header {
    box-shadow: 5px 8px 10px rgb(210 207 207);
}

.margin-top-70 {
    margin-top:4.37rem;
}

.menu-open-image {
    width: 2.18rem;
    height: 1.56rem;
    padding-left: 0.75rem;
}

.menu-close-image {
    width: 1.56rem;
    height: 1.56rem;
    padding-left:  0.75rem;
}

.carousel div img {
    width: 100%;
    height: 47.5rem;
}

.carousel-item div {
    position: absolute;
    top: 3.43rem;
    padding-right:2.18rem;
    padding-left:2.18rem;
}


.carousel-item div h2 {
    position: absolute;
    padding-top: 15.87rem;
}

.carousel-item div h3 {
    padding-top: 1.56rem;
    margin-top:18.43rem;
}

.carousel-item div p {
    padding-top: 0.93rem;
}

.carousel-item div a img {
    margin-top: 1.25rem;
}

.header-position {
    position: relative;
    bottom: 47.5rem;
}


.menu-style {
    padding-top:2.5rem;
    padding-bottom:  1.87rem;
    padding-left: 2.18rem;
}

.menu-style ul {
    list-style: none;
    padding-left: 0rem;
    margin-bottom:1.37rem;
}

.menu-style ul li {
    margin-bottom: 0.93rem;
}

.submenu-padding {
    padding-top: 1.37rem;
    padding-left: 2.25rem;

}


.menu-border {
    border: 1px solid var(--color-white);
    box-shadow: 1px 1px 1px 1px var(--color-gray-7d);
    margin-top: 1.25rem;
}




@media (min-width: 576px) {

    header {
        height: 45.62rem;
    }
    
    .desktop-carousel-text{
        margin-left: 2.5rem;
    }

    .carousel-item div h2 {
        padding-top: 7.62rem;
    }

    .carousel-item div {
        width: 50%;
        top: 8.75rem;
    }
    
    .carousel-item div h3 {
        padding-top: 0.93rem;
        margin-top: 9.56rem;

    }

    .white-box-header {
        box-shadow: none;
    }
    
    .margin-top-70 {
        margin-top: 3.5rem;
    }

    .desktop-col-12 {
        flex: 0 0 auto;
        width: 100%; 
    }

    .carousel div img {
        width: 100%;
        height:45.62rem;
    }

    .menu-style {
        padding-top: 1.56rem;
        padding-bottom: 2.18rem;
        padding-left:  1.87rem;
        padding-right:  1.87rem;
    }
    
    .menu-style ul {
        list-style: none;
        margin-bottom: 0px;
        padding-right: initial;
        padding-left: initial;
    }

    .menu-style ul li:first-child {
        margin-left: 0.93rem;
    }
    
    .menu-border {
        margin-top: 0px;
    }

    .submenu-container {
    display: flex;
    justify-content: center;
    margin-left: 6rem;
    }

    .submenu {
        width: 17.31rem;
    }

    .desktop-submenu-color{
        background-color: white;
    }
    
    .desktop-submenu-color li:first-child a{
        padding-left: 1.31rem;
    }
    
    .submenu-padding {
        padding-top: 1.56rem;
        padding-bottom: 2.18rem;
        
    }
    
    .banner-button-toKnowMore {
        width: 7.5rem !important;
        height: 1.87rem !important;
    }
}

@media (min-width:768px) {
    .menu-style ul li {
        margin-right: 0.93rem;
    }
}

@media (min-width:1200px) {
    .carousel-item div {
        padding-left: 9.5rem;
    }
      
}

.login-page {
    position: absolute;
    z-index: 1;
    top: 11.87rem;
    background-color: white;
    width: 100%;

}