.book-image-area {
    width: 18.19rem;
    height: 25.63rem;
    margin-top: 3.75rem;
}


.book-text-area {
    margin-top: 2.5rem;
}

.book-button-area {
    padding-top: 2.5rem;
}

@media (min-width:576px) {
    .book-image-area {
        width: 19rem;
        height: 29.4rem;
        margin-bottom: 8rem;
    }

    .book-text-area {
        margin-top: 0px;
        margin-bottom: 4.06rem;
    }

    .book-button-area {
        margin-bottom: 4.69rem;
    }


}

@media (min-width:992px) {
    .book-image-area {
        margin-top: 0px;
    }

    .book-text-area {
        margin-left: 5.69rem;
    }
    
}

