.contacts-area {
    margin-top: 3.75rem;
}

.contacts-area div {
    padding-bottom: 4.07rem;
}

.contacts-area div:last-child {
    padding-bottom: 0.94rem;
}

.line-width {
width: 3.75rem;
height: 0.06rem;
}

.time-area {
    margin-top: 2.19rem;
}

@media (min-width:576px) {
    .dt-width-box {
        max-width: 94% !important;
    }

    .contacts-area {
        margin-top: 3.12rem;
        
    }
    
    .contacts-item{
        width: 15rem;
    }

    .contacts-area div {
        padding-bottom: 2.5rem;
    }
    

    .time-area {
        margin-top: 2.5rem;
        margin-bottom: 5rem;
    }

}

@media (min-width:1200px) {
    .contacts-area div:last-child {
        padding-bottom: 0.12rem;
    }

}