.news-area {
    padding-top: 3.75rem;
    padding-bottom: 3.44rem;
}

.news-area h5 {
    padding-bottom: 1.88rem;

}

.horizontal-line-news {
    margin-top: 0.63rem;
    margin-bottom: 0.63rem;
    border-bottom: solid 0.06rem var(--color-gold-a9);
}

.news-area p:first-child {
    padding-top: 1.88rem;
}

.seta {
    width: 0.63rem;
    height: 2.19rem;
    padding-bottom: 0.63rem;
}

.page-item {
    --bs-pagination-border-color: none;
    --bs-pagination-hover-bg: none;
}


@media (min-width:576px) {

    .news-area {
        padding-top: 1.88rem;
        padding-bottom: 3.75rem;
    }

    .desktop-sec-news-area {
        padding-top: 5rem;
    }


    .horizontal-line-news {
        margin-top: 0.75rem;
        margin-bottom: 0.75rem;

    }


    .pagination {
        padding-bottom: 4.38rem !important;
        padding-top: 1.88rem;
    }

}