.d-none {
    display: none;
}

.d-block {
    display: block;
}

.padding-35 {
    padding-left: 2.18rem;
    padding-right: 2.18rem;

}

.padding-25 {
    padding-left: 1.56rem;
    padding-right: 1.56rem;

}

.bg-color-white {
    background-color: var(--color-white);
}

.container {
    --bs-gutter-x: 0 !important;
}



@media (min-width: 576px) {
    .desktop-d-none {
        display: none;
    }

    .desktop-d-block {
        display: block !important;
    }

    .desktop-d-flex {
        display: flex !important;
    }

    .desktop-flex-column {
        flex-direction: column !important;
    }

    .desktop-justify-center {
        justify-content: center !important;
    }

    .desktop-justify-end {
        justify-content: end !important;
    }

    .desktop-justify-start {
        justify-content: start !important;
    }

    .desktop-flex-row {
        flex-direction: row !important;
    }

    .desktop-justfy-space-btw {
        justify-content: space-between !important;
    }

    .desktop-justfy-space-ard {
        justify-content: space-around !important;
    }

    .desktop-align-start {
        align-items: flex-start !important;
    }

    .desktop-align-center {
        align-items: center !important;
    }


    .desktop-width-100{
        width: 100% !important;
    }
}

@media (min-width: 992px) {
    .desktop-padding-90 {
        padding-left: 5.62rem;
        padding-right: 5.62rem;
    }

    .desktop-margin-90 {
        margin-left: 5.62rem;
        margin-right: 5.62rem;
    }
}